body {
    background: #25262B;
    font-family: 'Arial', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}
.player-widget {
    position: relative;
    display: flex;
    background-color: #25262B;
    border-radius: 100px;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.7);
    padding: 12px;
    height: 120px;
    width: 400px;
}
.top-controls {
    position: absolute;
    top: 24px;
    right: 42px;
}
.thumbnail {
    position: relative;
    top: -24px;
    left: -20px;
}
.thumbnail img {
    width: 160px;
    height: 160px;
    border-radius: 100px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
    object-fit: cover;
}
.content {
    padding-right: 32px;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    line-height: 24px;
}
h2 {
    margin: 0;
    font-size: 18px;
    color: white;
}
p {
    margin: 5px 0 15px;
    color: white;
    font-size: 14px;
}
.progress-bar {
    display: none;
}
.progress {
    height: 100%;
    background-color: #1db954;
    border-radius: 2px;
    width: 0;
    transition: width 0.1s linear;
}
.controls {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
button {
    background: none;
    border: none;
    font-size: 20px;
    cursor: pointer;
    color: white;
    transition: color 0.3s ease;
}
button:hover {
    color: grey;
}
button svg {
    width: 24px;
    height: 24px;
    display: block;
}
#play-pause svg {
    width: 24px;
    height: 24px;
}
#mute svg {
    width: 20px;
    height: 20px;
}
#player {
    display: none;
}
